:root{
  --main-text: #fff;
  --background: #000;
}

*{
  padding: 0;
  margin: 0;
  font-family: arial;
  background-color: var(--background);
  color: var(--main-text)
}

h1{font-size: 64px; text-transform: uppercase;}
h2{font-size: 36px;}
h3{font-size: 30px;}

a{
  text-decoration: none;
  color: var(--main-text);
}

/* navigation */

.navigation{
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 50px;
  width: 10vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.navigation nav li{padding: 8px;}

.navigation nav li:hover{
  font-weight: 800;
  font-size: 20px;
  position: relative;
  left: -10px;
}

header, main{width: 90vw;}

#home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin: 100px 10px;
}

#home article{
  max-width: 40%;
}

#home picture img{
  width: 400px;
  height: 500px;
  /* remover width e height quando colocar a imagem principal*/
  
  border-radius: 32px;
}